In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from datetime import datetime

In [4]:
from datetime import timedelta

In [5]:
now = datetime.now()

In [6]:
now

datetime.datetime(2016, 11, 2, 14, 56, 56, 341286)

In [7]:
now.year,now.month,now.day

(2016, 11, 2)

In [9]:
date1=datetime(2016,11,1)
date2= datetime(2016,11,5)
delta = date2 - date1

In [10]:
delta

datetime.timedelta(4)

In [11]:
delta.days

4

In [13]:
delta.total_seconds()

345600.0

In [17]:
date = datetime(2016,10,20, 8,30)

In [19]:
date.strftime('%y/%m/%d %H:%M:%S')

'16/10/20 08:30:00'

In [21]:
pd.date_range('20161001','20161010')

DatetimeIndex(['2016-10-01', '2016-10-02', '2016-10-03', '2016-10-04',
               '2016-10-05', '2016-10-06', '2016-10-07', '2016-10-08',
               '2016-10-09', '2016-10-10'],
              dtype='datetime64[ns]', freq='D')

In [22]:
pd.date_range('20161001 ',periods=10)

DatetimeIndex(['2016-10-01', '2016-10-02', '2016-10-03', '2016-10-04',
               '2016-10-05', '2016-10-06', '2016-10-07', '2016-10-08',
               '2016-10-09', '2016-10-10'],
              dtype='datetime64[ns]', freq='D')

In [26]:
pd.date_range('20161001 16:20:12',periods=10,freq='S')

DatetimeIndex(['2016-10-01 16:20:12', '2016-10-01 16:20:13',
               '2016-10-01 16:20:14', '2016-10-01 16:20:15',
               '2016-10-01 16:20:16', '2016-10-01 16:20:17',
               '2016-10-01 16:20:18', '2016-10-01 16:20:19',
               '2016-10-01 16:20:20', '2016-10-01 16:20:21'],
              dtype='datetime64[ns]', freq='S')

In [27]:
pd.date_range('20161001 16:20:12',periods=10,normalize=True)

DatetimeIndex(['2016-10-01', '2016-10-02', '2016-10-03', '2016-10-04',
               '2016-10-05', '2016-10-06', '2016-10-07', '2016-10-08',
               '2016-10-09', '2016-10-10'],
              dtype='datetime64[ns]', freq='D')

In [28]:
pd.date_range('20161001 16:20:12',periods=10,normalize=True,freq='M')

DatetimeIndex(['2016-10-31', '2016-11-30', '2016-12-31', '2017-01-31',
               '2017-02-28', '2017-03-31', '2017-04-30', '2017-05-31',
               '2017-06-30', '2017-07-31'],
              dtype='datetime64[ns]', freq='M')

In [29]:
pd.date_range('20161001 16:20:12',periods=10,normalize=True,freq='W')

DatetimeIndex(['2016-10-02', '2016-10-09', '2016-10-16', '2016-10-23',
               '2016-10-30', '2016-11-06', '2016-11-13', '2016-11-20',
               '2016-11-27', '2016-12-04'],
              dtype='datetime64[ns]', freq='W-SUN')

In [30]:
pd.date_range('20161001 16:20:12',periods=10,normalize=True,freq='BM')

DatetimeIndex(['2016-10-31', '2016-11-30', '2016-12-30', '2017-01-31',
               '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31',
               '2017-06-30', '2017-07-31'],
              dtype='datetime64[ns]', freq='BM')

In [31]:
pd.date_range('20161001 16:20:12',periods=10,normalize=True,freq='4H')

DatetimeIndex(['2016-10-01 00:00:00', '2016-10-01 04:00:00',
               '2016-10-01 08:00:00', '2016-10-01 12:00:00',
               '2016-10-01 16:00:00', '2016-10-01 20:00:00',
               '2016-10-02 00:00:00', '2016-10-02 04:00:00',
               '2016-10-02 08:00:00', '2016-10-02 12:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [32]:
p = pd.Period(2010,freq='M')

In [33]:
p

Period('2010-01', 'M')

In [34]:
p+2

Period('2010-03', 'M')

In [35]:
p = pd.Period(2010)

In [36]:
p

Period('2010', 'A-DEC')

In [37]:
p+2

Period('2012', 'A-DEC')

In [38]:
a = pd.Period(2016)

In [39]:
a

Period('2016', 'A-DEC')

In [40]:
a.asfreq('M')

Period('2016-12', 'M')

In [41]:
a.asfreq('M',how='start')

Period('2016-01', 'M')

In [42]:
p=pd.Period('2016-04',freq='M')

In [43]:
p

Period('2016-04', 'M')

In [44]:
 o = pd.Period('2016Q4','Q-JAN')
o

Period('2016Q4', 'Q-JAN')

In [45]:
o.asfreq('M',how='start'),p.asfreq('M',how='end')

(Period('2015-11', 'M'), Period('2016-04', 'M'))

In [46]:
#获取该季度倒数第二个工作日下午4点20分
(p.asfreq('B') -1).asfreq('T')+16 *60 +20

Period('2016-04-29 16:19', 'T')

In [47]:
 s = pd.Series(np.random.rand(5),index=pd.date_range('2016-04-01',periods=5,freq='M'))

In [48]:
s

2016-04-30    0.736137
2016-05-31    0.828922
2016-06-30    0.019411
2016-07-31    0.761002
2016-08-31    0.352734
Freq: M, dtype: float64

In [49]:
s.to_period()

2016-04    0.736137
2016-05    0.828922
2016-06    0.019411
2016-07    0.761002
2016-08    0.352734
Freq: M, dtype: float64

In [51]:
ts = pd.Series(np.random.randint(0,50,60), index=pd.date_range('2016-04-25 09:30',periods=60,freq='T'))

In [52]:
ts

2016-04-25 09:30:00    39
2016-04-25 09:31:00    34
2016-04-25 09:32:00    43
2016-04-25 09:33:00    13
2016-04-25 09:34:00    18
2016-04-25 09:35:00    19
2016-04-25 09:36:00    44
2016-04-25 09:37:00    29
2016-04-25 09:38:00    20
2016-04-25 09:39:00     4
2016-04-25 09:40:00    46
2016-04-25 09:41:00    15
2016-04-25 09:42:00    25
2016-04-25 09:43:00    19
2016-04-25 09:44:00    12
2016-04-25 09:45:00     4
2016-04-25 09:46:00    20
2016-04-25 09:47:00     1
2016-04-25 09:48:00    21
2016-04-25 09:49:00    30
2016-04-25 09:50:00     8
2016-04-25 09:51:00    47
2016-04-25 09:52:00    23
2016-04-25 09:53:00    34
2016-04-25 09:54:00    13
2016-04-25 09:55:00    21
2016-04-25 09:56:00    25
2016-04-25 09:57:00    35
2016-04-25 09:58:00    49
2016-04-25 09:59:00    21
2016-04-25 10:00:00     9
2016-04-25 10:01:00     1
2016-04-25 10:02:00    23
2016-04-25 10:03:00    17
2016-04-25 10:04:00    26
2016-04-25 10:05:00    28
2016-04-25 10:06:00     4
2016-04-25 10:07:00    49
2016-04-25 10:08:00    26
2016-04-25 10:09:00    22
2016-04-25 10:10:00    11
2016-04-25 10:11:00     5
2016-04-25 10:12:00    47
2016-04-25 10:13:00    14
2016-04-25 10:14:00     4
2016-04-25 10:15:00    41
2016-04-25 10:16:00    46
2016-04-25 10:17:00    39
2016-04-25 10:18:00    39
2016-04-25 10:19:00    40
2016-04-25 10:20:00    41
2016-04-25 10:21:00     9
2016-04-25 10:22:00    37
2016-04-25 10:23:00     1
2016-04-25 10:24:00    10
2016-04-25 10:25:00    24
2016-04-25 10:26:00     7
2016-04-25 10:27:00    41
2016-04-25 10:28:00    40
2016-04-25 10:29:00     9
Freq: T, dtype: int32

In [53]:
ts.resample('5min',how='sum')

f:\python\python3.5\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).sum()
  if __name__ == '__main__':

2016-04-25 09:30:00    147
2016-04-25 09:35:00    116
2016-04-25 09:40:00    117
2016-04-25 09:45:00     76
2016-04-25 09:50:00    125
2016-04-25 09:55:00    151
2016-04-25 10:00:00     76
2016-04-25 10:05:00    129
2016-04-25 10:10:00     81
2016-04-25 10:15:00    205
2016-04-25 10:20:00     98
2016-04-25 10:25:00    121
Freq: 5T, dtype: int32

In [54]:
ts.resample('5min',how='sum',label='right')

f:\python\python3.5\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).sum()
  if __name__ == '__main__':

2016-04-25 09:35:00    147
2016-04-25 09:40:00    116
2016-04-25 09:45:00    117
2016-04-25 09:50:00     76
2016-04-25 09:55:00    125
2016-04-25 10:00:00    151
2016-04-25 10:05:00     76
2016-04-25 10:10:00    129
2016-04-25 10:15:00     81
2016-04-25 10:20:00    205
2016-04-25 10:25:00     98
2016-04-25 10:30:00    121
Freq: 5T, dtype: int32

In [55]:
ts.resample('5min',how='ohlc')

f:\python\python3.5\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).ohlc()
  if __name__ == '__main__':

                     open  high  low  close
2016-04-25 09:30:00    39    43   13     18
2016-04-25 09:35:00    19    44    4      4
2016-04-25 09:40:00    46    46   12     12
2016-04-25 09:45:00     4    30    1     30
2016-04-25 09:50:00     8    47    8     13
2016-04-25 09:55:00    21    49   21     21
2016-04-25 10:00:00     9    26    1     26
2016-04-25 10:05:00    28    49    4     22
2016-04-25 10:10:00    11    47    4      4
2016-04-25 10:15:00    41    46   39     40
2016-04-25 10:20:00    41    41    1     10
2016-04-25 10:25:00    24    41    7      9

In [56]:
#通过groupby 重采样
td = pd.Series(np.random.randint(0,50,100), index=pd.date_range('2016-03-01',periods=100,freq='D'))

In [57]:
td

2016-03-01    35
2016-03-02     9
2016-03-03    25
2016-03-04    13
2016-03-05    33
2016-03-06    19
2016-03-07    34
2016-03-08     2
2016-03-09    44
2016-03-10    34
2016-03-11    16
2016-03-12    22
2016-03-13    30
2016-03-14    13
2016-03-15    13
2016-03-16    16
2016-03-17    15
2016-03-18    32
2016-03-19    45
2016-03-20     1
2016-03-21    39
2016-03-22    10
2016-03-23    49
2016-03-24    19
2016-03-25    10
2016-03-26     1
2016-03-27    13
2016-03-28    36
2016-03-29    36
2016-03-30    26
              ..
2016-05-10    25
2016-05-11    49
2016-05-12    26
2016-05-13    43
2016-05-14    39
2016-05-15    31
2016-05-16     5
2016-05-17    37
2016-05-18    46
2016-05-19    19
2016-05-20     2
2016-05-21     1
2016-05-22    16
2016-05-23     9
2016-05-24    21
2016-05-25    15
2016-05-26    48
2016-05-27    13
2016-05-28    35
2016-05-29    45
2016-05-30    25
2016-05-31    24
2016-06-01     6
2016-06-02    24
2016-06-03    35
2016-06-04    49
2016-06-05    38
2016-06-06    13
2016-06-07     8
2016-06-08    40
Freq: D, dtype: int32

In [58]:
td.groupby(lambda x:x.month ).sum()

3    707
4    736
5    789
6    213
dtype: int32

In [60]:
td.groupby(td.index.to_period('M')).sum()

2016-03    707
2016-04    736
2016-05    789
2016-06    213
Freq: M, dtype: int32