In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dates = pd.date_range('20161101',periods=6)

In [3]:
df = pd.DataFrame(np.random.rand(6,4),index=dates, columns=list('ABCD'))

In [4]:
df

                   A         B         C         D
2016-11-01  0.984719  0.226989  0.991200  0.824221
2016-11-02  0.312927  0.829519  0.994143  0.494328
2016-11-03  0.721775  0.361546  0.620193  0.672424
2016-11-04  0.818441  0.194350  0.404351  0.362669
2016-11-05  0.134578  0.215308  0.331184  0.522965
2016-11-06  0.041617  0.311778  0.961622  0.723118

In [7]:
df1 = df.reindex(index=dates[0:4],columns=list(df.columns) + ['E'])

In [8]:
df1

                   A         B         C         D   E
2016-11-01  0.984719  0.226989  0.991200  0.824221 NaN
2016-11-02  0.312927  0.829519  0.994143  0.494328 NaN
2016-11-03  0.721775  0.361546  0.620193  0.672424 NaN
2016-11-04  0.818441  0.194350  0.404351  0.362669 NaN

In [9]:
df1.loc[dates[1:3],'E'] = 2

In [10]:
df1

                   A         B         C         D    E
2016-11-01  0.984719  0.226989  0.991200  0.824221  NaN
2016-11-02  0.312927  0.829519  0.994143  0.494328  2.0
2016-11-03  0.721775  0.361546  0.620193  0.672424  2.0
2016-11-04  0.818441  0.194350  0.404351  0.362669  NaN

In [11]:
df1.dropna()

                   A         B         C         D    E
2016-11-02  0.312927  0.829519  0.994143  0.494328  2.0
2016-11-03  0.721775  0.361546  0.620193  0.672424  2.0

In [12]:
df1.fillna(value=5)

                   A         B         C         D    E
2016-11-01  0.984719  0.226989  0.991200  0.824221  5.0
2016-11-02  0.312927  0.829519  0.994143  0.494328  2.0
2016-11-03  0.721775  0.361546  0.620193  0.672424  2.0
2016-11-04  0.818441  0.194350  0.404351  0.362669  5.0

In [14]:
pd.isnull(df1).any().any()

True

In [15]:
pd.isnull(df1).any()

A    False
B    False
C    False
D    False
E     True
dtype: bool

In [16]:
df1.mean

<bound method DataFrame.mean of                    A         B         C         D    E
2016-11-01  0.984719  0.226989  0.991200  0.824221  NaN
2016-11-02  0.312927  0.829519  0.994143  0.494328  2.0
2016-11-03  0.721775  0.361546  0.620193  0.672424  2.0
2016-11-04  0.818441  0.194350  0.404351  0.362669  NaN>

In [17]:
df1.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [19]:
df1.cumsum()

                   A         B         C         D    E
2016-11-01  0.984719  0.226989  0.991200  0.824221  NaN
2016-11-02  1.297647  1.056508  1.985342  1.318550  2.0
2016-11-03  2.019422  1.418054  2.605535  1.990974  4.0
2016-11-04  2.837863  1.612404  3.009886  2.353643  NaN

In [20]:
df.apply(np.cumsum)

                   A         B         C         D
2016-11-01  0.984719  0.226989  0.991200  0.824221
2016-11-02  1.297647  1.056508  1.985342  1.318550
2016-11-03  2.019422  1.418054  2.605535  1.990974
2016-11-04  2.837863  1.612404  3.009886  2.353643
2016-11-05  2.972440  1.827712  3.341070  2.876608
2016-11-06  3.014057  2.139491  4.302692  3.599725

In [21]:
df.apply(lambda x : x.max() - x.min())

A    0.943102
B    0.635169
C    0.662958
D    0.461552
dtype: float64

In [22]:
a = pd.Series(np.random.randint(10,20,size=20))

In [23]:
a

0     18
1     14
2     14
3     16
4     19
5     11
6     15
7     16
8     18
9     18
10    11
11    18
12    13
13    14
14    12
15    14
16    16
17    15
18    12
19    17
dtype: int32

In [24]:
a.value_counts()

18    4
14    4
16    3
15    2
12    2
11    2
19    1
17    1
13    1
dtype: int64

In [26]:
a.mode()

0    14
1    18
dtype: int32

In [27]:
df = pd.DataFrame(np.random.rand(10,4),columns=list('ABCD'))

In [28]:
df

          A         B         C         D
0  0.567405  0.687608  0.052267  0.951009
1  0.711666  0.961949  0.156671  0.537365
2  0.427276  0.254844  0.331976  0.920327
3  0.403988  0.143295  0.471178  0.046705
4  0.986125  0.079343  0.585303  0.440623
5  0.207848  0.616013  0.907255  0.200087
6  0.438477  0.944378  0.951820  0.437715
7  0.345237  0.879954  0.753660  0.579957
8  0.772380  0.546092  0.931996  0.515490
9  0.077399  0.651983  0.635485  0.304375

In [29]:
df.iloc[:3]

          A         B         C         D
0  0.567405  0.687608  0.052267  0.951009
1  0.711666  0.961949  0.156671  0.537365
2  0.427276  0.254844  0.331976  0.920327

In [32]:
pd.concat([df.iloc[:3],df.iloc[5:7],df.iloc[8:]])

          A         B         C         D
0  0.567405  0.687608  0.052267  0.951009
1  0.711666  0.961949  0.156671  0.537365
2  0.427276  0.254844  0.331976  0.920327
5  0.207848  0.616013  0.907255  0.200087
6  0.438477  0.944378  0.951820  0.437715
8  0.772380  0.546092  0.931996  0.515490
9  0.077399  0.651983  0.635485  0.304375

In [36]:
left = pd.DataFrame({'key':['foo','foo'],'lval':[1,2]})

In [37]:
left

   key  lval
0  foo     1
1  foo     2

In [38]:
right = pd.DataFrame({'key':['foo','foo'],'lval':[5,6]})

In [39]:
right

   key  lval
0  foo     5
1  foo     6

In [40]:
pd.merge(left,right, on='key')

   key  lval_x  lval_y
0  foo       1       5
1  foo       1       6
2  foo       2       5
3  foo       2       6