In [8]:
%matplotlib inline
import matplotlib as plt
import numpy as np
import pandas as pd
from sklearn import datasets, linear_model

In [9]:
data = pd.read_csv('D:\\pandas\\pandas_work\\数据\\CCPP\\CCPP.csv')

In [10]:
# data.head(5)
data.tail(10)

         AT      V       AP     RH      PE
9558  20.18  43.56  1013.14  39.16  462.80
9559  18.51  50.90  1012.95  82.71  459.11
9560  13.60  39.82  1013.34  86.10  470.69
9561  33.42  68.51  1011.91  45.83  427.66
9562  13.79  42.07  1018.27  88.06  462.25
9563  15.12  48.92  1011.80  72.93  462.59
9564  33.41  77.95  1010.30  59.72  432.90
9565  15.99  43.34  1014.20  78.66  465.96
9566  17.65  59.87  1018.58  94.65  450.93
9567  23.68  51.30  1011.86  71.24  451.67

In [11]:
data.shape

(9568, 5)

In [12]:
y = data[['PE']]
y.head(10)

       PE
0  480.48
1  445.75
2  438.76
3  453.09
4  464.43
5  470.96
6  442.35
7  464.00
8  428.77
9  484.31

In [20]:
X = data[['AT', 'V', 'AP', 'RH']]
X.head()

      AT      V       AP     RH
0   8.34  40.77  1010.84  90.01
1  23.64  58.49  1011.40  74.20
2  29.74  56.90  1007.15  41.91
3  19.07  49.69  1007.22  76.79
4  11.80  40.66  1017.13  97.20

In [21]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [27]:
X_train.shape

(7176, 4)

In [30]:
X_test.shape

(2392, 4)

In [29]:
y_train.shape

(7176, 1)

In [28]:
y_train.shape

(7176, 1)

In [31]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [32]:
linreg.intercept_

array([ 447.06297099])

In [33]:
linreg.coef_

array([[-1.97376045, -0.23229086,  0.0693515 , -0.15806957]])

In [35]:
#模型拟合测试集
y_pred = linreg.predict(X_test)
from sklearn import metrics
# 用scikit-learn计算MSE
metrics.mean_squared_error(y_test, y_pred)

20.080401202073901

In [36]:
# 用scikit-learn计算RMSE
np.sqrt(metrics.mean_squared_error(y_test, y_pred))

4.4811160665702356