In [1]:
%matplotlib inline
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [3]:
dates = pd.date_range('20161101',periods=6)

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))

In [8]:
df

                   A         B         C         D
2016-11-01 -0.437304  1.460429 -0.059167  0.693487
2016-11-02 -0.547714  0.343704  0.808880 -1.075700
2016-11-03  0.808230  0.802533 -0.630616  1.466312
2016-11-04  0.608432 -0.269207  1.421999  0.746666
2016-11-05 -0.650451 -0.727668  0.505484  1.391516
2016-11-06 -0.897511 -2.960855 -2.714718 -0.099647

In [11]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [12]:
df1

                   A         B         C         D   E
2016-11-01 -0.437304  1.460429 -0.059167  0.693487 NaN
2016-11-02 -0.547714  0.343704  0.808880 -1.075700 NaN
2016-11-03  0.808230  0.802533 -0.630616  1.466312 NaN
2016-11-04  0.608432 -0.269207  1.421999  0.746666 NaN

In [13]:
df1.loc[dates[1:3],'E'] = 2

In [14]:
df1

                   A         B         C         D    E
2016-11-01 -0.437304  1.460429 -0.059167  0.693487  NaN
2016-11-02 -0.547714  0.343704  0.808880 -1.075700  2.0
2016-11-03  0.808230  0.802533 -0.630616  1.466312  2.0
2016-11-04  0.608432 -0.269207  1.421999  0.746666  NaN

In [15]:
df1.dropna()

                   A         B         C         D    E
2016-11-02 -0.547714  0.343704  0.808880 -1.075700  2.0
2016-11-03  0.808230  0.802533 -0.630616  1.466312  2.0

In [16]:
df1

                   A         B         C         D    E
2016-11-01 -0.437304  1.460429 -0.059167  0.693487  NaN
2016-11-02 -0.547714  0.343704  0.808880 -1.075700  2.0
2016-11-03  0.808230  0.802533 -0.630616  1.466312  2.0
2016-11-04  0.608432 -0.269207  1.421999  0.746666  NaN

In [17]:
df1.fillna(value=0)

                   A         B         C         D    E
2016-11-01 -0.437304  1.460429 -0.059167  0.693487  0.0
2016-11-02 -0.547714  0.343704  0.808880 -1.075700  2.0
2016-11-03  0.808230  0.802533 -0.630616  1.466312  2.0
2016-11-04  0.608432 -0.269207  1.421999  0.746666  0.0

In [19]:
pd.isnull(df1).any().any()

True

In [20]:
df1.mean()

A    0.107911
B    0.584365
C    0.385274
D    0.457691
E    2.000000
dtype: float64

In [21]:
df1.mean(axis=1)

2016-11-01    0.414361
2016-11-02    0.305834
2016-11-03    0.889292
2016-11-04    0.626972
Freq: D, dtype: float64

In [22]:
df1.cumsum()

                   A         B         C         D    E
2016-11-01 -0.437304  1.460429 -0.059167  0.693487  NaN
2016-11-02 -0.985018  1.804133  0.749713 -0.382213  2.0
2016-11-03 -0.176788  2.606667  0.119097  1.084098  4.0
2016-11-04  0.431644  2.337460  1.541096  1.830765  NaN

In [23]:
df

                   A         B         C         D
2016-11-01 -0.437304  1.460429 -0.059167  0.693487
2016-11-02 -0.547714  0.343704  0.808880 -1.075700
2016-11-03  0.808230  0.802533 -0.630616  1.466312
2016-11-04  0.608432 -0.269207  1.421999  0.746666
2016-11-05 -0.650451 -0.727668  0.505484  1.391516
2016-11-06 -0.897511 -2.960855 -2.714718 -0.099647

In [24]:
%pwd

'C:\\Users\\samsung1'