In [1]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
s = pd.Series([1,3,5,7,np.NaN])

In [5]:
s

0    1.0
1    3.0
2    5.0
3    7.0
4    NaN
dtype: float64

In [10]:
dates  = pd.date_range('20161101',periods=6)

In [11]:
dates

DatetimeIndex(['2016-11-01', '2016-11-02', '2016-11-03', '2016-11-04',
               '2016-11-05', '2016-11-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
data1 = pd.DataFrame(np.random.rand(6,4), index=dates,columns=list('ABCD'))

In [14]:
data1

                   A         B         C         D
2016-11-01  0.613444  0.155859  0.002328  0.719616
2016-11-02  0.771170  0.947750  0.391916  0.697420
2016-11-03  0.343282  0.381394  0.475559  0.513198
2016-11-04  0.256097  0.502232  0.127405  0.445335
2016-11-05  0.878900  0.945557  0.272598  0.954426
2016-11-06  0.679155  0.249103  0.568238  0.252042

In [15]:
data1.shape

(6, 4)

In [16]:
data1.values

array([[ 0.61344373,  0.15585913,  0.0023283 ,  0.71961638],
       [ 0.77117024,  0.94775028,  0.39191633,  0.69741953],
       [ 0.34328192,  0.3813943 ,  0.47555933,  0.51319786],
       [ 0.25609714,  0.50223224,  0.12740476,  0.44533509],
       [ 0.87889952,  0.94555657,  0.27259822,  0.95442551],
       [ 0.6791551 ,  0.24910261,  0.56823842,  0.25204199]])

In [17]:
data1

                   A         B         C         D
2016-11-01  0.613444  0.155859  0.002328  0.719616
2016-11-02  0.771170  0.947750  0.391916  0.697420
2016-11-03  0.343282  0.381394  0.475559  0.513198
2016-11-04  0.256097  0.502232  0.127405  0.445335
2016-11-05  0.878900  0.945557  0.272598  0.954426
2016-11-06  0.679155  0.249103  0.568238  0.252042

In [18]:
data1.head

<bound method NDFrame.head of                    A         B         C         D
2016-11-01  0.613444  0.155859  0.002328  0.719616
2016-11-02  0.771170  0.947750  0.391916  0.697420
2016-11-03  0.343282  0.381394  0.475559  0.513198
2016-11-04  0.256097  0.502232  0.127405  0.445335
2016-11-05  0.878900  0.945557  0.272598  0.954426
2016-11-06  0.679155  0.249103  0.568238  0.252042>

In [19]:
data1.head(2)

                   A         B         C         D
2016-11-01  0.613444  0.155859  0.002328  0.719616
2016-11-02  0.771170  0.947750  0.391916  0.697420

In [20]:
data1.tail

<bound method NDFrame.tail of                    A         B         C         D
2016-11-01  0.613444  0.155859  0.002328  0.719616
2016-11-02  0.771170  0.947750  0.391916  0.697420
2016-11-03  0.343282  0.381394  0.475559  0.513198
2016-11-04  0.256097  0.502232  0.127405  0.445335
2016-11-05  0.878900  0.945557  0.272598  0.954426
2016-11-06  0.679155  0.249103  0.568238  0.252042>

In [21]:
data1.tail(2)

                   A         B         C         D
2016-11-05  0.878900  0.945557  0.272598  0.954426
2016-11-06  0.679155  0.249103  0.568238  0.252042

In [22]:
data1.index

DatetimeIndex(['2016-11-01', '2016-11-02', '2016-11-03', '2016-11-04',
               '2016-11-05', '2016-11-06'],
              dtype='datetime64[ns]', freq='D')

In [23]:
data1.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [24]:
data1.values

array([[ 0.61344373,  0.15585913,  0.0023283 ,  0.71961638],
       [ 0.77117024,  0.94775028,  0.39191633,  0.69741953],
       [ 0.34328192,  0.3813943 ,  0.47555933,  0.51319786],
       [ 0.25609714,  0.50223224,  0.12740476,  0.44533509],
       [ 0.87889952,  0.94555657,  0.27259822,  0.95442551],
       [ 0.6791551 ,  0.24910261,  0.56823842,  0.25204199]])

In [25]:
data1.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.590341  0.530316  0.306341  0.597006
std    0.243780  0.343203  0.214536  0.245721
min    0.256097  0.155859  0.002328  0.252042
25%    0.410822  0.282176  0.163703  0.462301
50%    0.646299  0.441813  0.332257  0.605309
75%    0.748166  0.834725  0.454649  0.714067
max    0.878900  0.947750  0.568238  0.954426

In [26]:
data1.T

   2016-11-01  2016-11-02  2016-11-03  2016-11-04  2016-11-05  2016-11-06
A    0.613444    0.771170    0.343282    0.256097    0.878900    0.679155
B    0.155859    0.947750    0.381394    0.502232    0.945557    0.249103
C    0.002328    0.391916    0.475559    0.127405    0.272598    0.568238
D    0.719616    0.697420    0.513198    0.445335    0.954426    0.252042

In [27]:
data1.shape

(6, 4)

In [28]:
data1.sort_index(axis=1)

                   A         B         C         D
2016-11-01  0.613444  0.155859  0.002328  0.719616
2016-11-02  0.771170  0.947750  0.391916  0.697420
2016-11-03  0.343282  0.381394  0.475559  0.513198
2016-11-04  0.256097  0.502232  0.127405  0.445335
2016-11-05  0.878900  0.945557  0.272598  0.954426
2016-11-06  0.679155  0.249103  0.568238  0.252042

In [31]:
data1.sort_index(axis=1,ascending=False)

                   D         C         B         A
2016-11-01  0.719616  0.002328  0.155859  0.613444
2016-11-02  0.697420  0.391916  0.947750  0.771170
2016-11-03  0.513198  0.475559  0.381394  0.343282
2016-11-04  0.445335  0.127405  0.502232  0.256097
2016-11-05  0.954426  0.272598  0.945557  0.878900
2016-11-06  0.252042  0.568238  0.249103  0.679155

In [32]:
data1['A']

2016-11-01    0.613444
2016-11-02    0.771170
2016-11-03    0.343282
2016-11-04    0.256097
2016-11-05    0.878900
2016-11-06    0.679155
Freq: D, Name: A, dtype: float64

In [34]:
data1[2:4]

                   A         B         C         D
2016-11-03  0.343282  0.381394  0.475559  0.513198
2016-11-04  0.256097  0.502232  0.127405  0.445335

In [36]:
data1.loc['20161102':'20161105']

                   A         B         C         D
2016-11-02  0.771170  0.947750  0.391916  0.697420
2016-11-03  0.343282  0.381394  0.475559  0.513198
2016-11-04  0.256097  0.502232  0.127405  0.445335
2016-11-05  0.878900  0.945557  0.272598  0.954426

In [37]:
data1.iloc[2:4]

                   A         B         C         D
2016-11-03  0.343282  0.381394  0.475559  0.513198
2016-11-04  0.256097  0.502232  0.127405  0.445335

In [40]:
data1.loc[:,['B','C']]

                   B         C
2016-11-01  0.155859  0.002328
2016-11-02  0.947750  0.391916
2016-11-03  0.381394  0.475559
2016-11-04  0.502232  0.127405
2016-11-05  0.945557  0.272598
2016-11-06  0.249103  0.568238

In [42]:
data1.loc['20161102':'20161103',['B','C']]

                   B         C
2016-11-02  0.947750  0.391916
2016-11-03  0.381394  0.475559

In [43]:
data1.iloc[1,1]

0.9477502815821176

In [44]:
data1.iat[2,2]

0.47555933174230847

In [45]:
%timeit data1.iloc[1,1]

1000 loops, best of 3: 479 µs per loop

In [46]:
%timeit data1.iat[1,1]

The slowest run took 20.86 times longer than the fastest. This could mean that an intermediate result is being cached.
10000 loops, best of 3: 25.6 µs per loop

In [47]:
data1[data1>0]

                   A         B         C         D
2016-11-01  0.613444  0.155859  0.002328  0.719616
2016-11-02  0.771170  0.947750  0.391916  0.697420
2016-11-03  0.343282  0.381394  0.475559  0.513198
2016-11-04  0.256097  0.502232  0.127405  0.445335
2016-11-05  0.878900  0.945557  0.272598  0.954426
2016-11-06  0.679155  0.249103  0.568238  0.252042

In [48]:
data1

                   A         B         C         D
2016-11-01  0.613444  0.155859  0.002328  0.719616
2016-11-02  0.771170  0.947750  0.391916  0.697420
2016-11-03  0.343282  0.381394  0.475559  0.513198
2016-11-04  0.256097  0.502232  0.127405  0.445335
2016-11-05  0.878900  0.945557  0.272598  0.954426
2016-11-06  0.679155  0.249103  0.568238  0.252042

In [49]:
data1.iat[0,0]=100

In [50]:
data1

                     A         B         C         D
2016-11-01  100.000000  0.155859  0.002328  0.719616
2016-11-02    0.771170  0.947750  0.391916  0.697420
2016-11-03    0.343282  0.381394  0.475559  0.513198
2016-11-04    0.256097  0.502232  0.127405  0.445335
2016-11-05    0.878900  0.945557  0.272598  0.954426
2016-11-06    0.679155  0.249103  0.568238  0.252042

In [51]:
data1.A = 100

In [52]:
data1

              A         B         C         D
2016-11-01  100  0.155859  0.002328  0.719616
2016-11-02  100  0.947750  0.391916  0.697420
2016-11-03  100  0.381394  0.475559  0.513198
2016-11-04  100  0.502232  0.127405  0.445335
2016-11-05  100  0.945557  0.272598  0.954426
2016-11-06  100  0.249103  0.568238  0.252042