In [8]:
#电影的评分数据  100万条数据  6000  user  4000movie
#导入pandas
import pandas as pd

In [9]:
#读取用户数据
#确定数据列名
unames = ['user_id','gender','age','occupation','zip']
#参数：文件名，分隔符，表头为空，设置列的名称
users = pd.read_table('ml-1m/users.dat',sep='::',header=None,names=unames)
#警告   read_table 数据解析器有两个版本，  c  和 python 这里用的是python

f:\python\python3.5\lib\site-packages\ipykernel\__main__.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [14]:
print(len(users))
users.head(10) #默认打印5条

6040

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455
5        6      F   50           9  55117
6        7      M   35           1  06810
7        8      M   25          12  11413
8        9      M   25          17  61614
9       10      F   35           1  95370

In [15]:
#形同的方法导入电影和评分数据。
rating_names = ['user_id','movie_id','rating','timestamp']
ratings = pd.read_table('ml-1m/ratings.dat',sep='::',header=None,names=rating_names)

f:\python\python3.5\lib\site-packages\ipykernel\__main__.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  app.launch_new_instance()

In [16]:
movie_names = ['movie_id','title','genres']
movies  = pd.read_table('ml-1m/movies.dat',sep='::',header=None,names=movie_names)

f:\python\python3.5\lib\site-packages\ipykernel\__main__.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  from ipykernel import kernelapp as app

In [17]:
#评分数据
print(len(ratings))
ratings.head()

1000209

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291
5        1      1197       3  978302268
6        1      1287       5  978302039
7        1      2804       5  978300719
8        1       594       4  978302268
9        1       919       4  978301368

In [18]:
print(len(movies))
movies.head()

3883

,movie_id,title,genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children's
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Animation|Children's
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Drama|Thriller
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Thriller
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action
20,21,Get Shorty (1995),Action|Comedy|Drama
21,22,Copycat (1995),Crime|Drama|Thriller
22,23,Assassins (1995),Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Drama
27,28,Persuasion (1995),Romance
28,29,"City of Lost Children, The (1995)",Adventure|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Drama
30,31,Dangerous Minds (1995),Drama
31,32,Twelve Monkeys (1995),Drama|Sci-Fi
32,33,Wings of Courage (1995),Adventure|Romance
33,34,Babe (1995),Children's|Comedy|Drama
34,35,Carrington (1995),Drama|Romance
35,36,Dead Man Walking (1995),Drama
36,37,Across the Sea of Time (1995),Documentary
37,38,It Takes Two (1995),Comedy
38,39,Clueless (1995),Comedy|Romance
39,40,"Cry, the Beloved Country (1995)",Drama
40,41,Richard III (1995),Drama|War
41,42,Dead Presidents (1995),Action|Crime|Drama
42,43,Restoration (1995),Drama
43,44,Mortal Kombat (1995),Action|Adventure
44,45,To Die For (1995),Comedy|Drama
45,46,How to Make an American Quilt (1995),Drama|Romance
46,47,Seven (Se7en) (1995),Crime|Thriller
47,48,Pocahontas (1995),Animation|Children's|Musical|Romance
48,49,When Night Is Falling (1995),Drama|Romance
49,50,"Usual Suspects, The (1995)",Crime|Thriller

In [20]:
#数据合并 通过外键 一一对应  调用merge函数  两次 
data = pd.merge(pd.merge(users,ratings),movies)

In [21]:
print(len(data))
data

1000209

,user_id,gender,age,occupation,zip,movie_id,rating,timestamp,title,genres
0,1,F,1,10,48067,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,M,56,16,70072,1193,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,M,25,12,32793,1193,4,978220179,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,M,25,7,22903,1193,4,978199279,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,M,50,1,95350,1193,5,978158471,One Flew Over the Cuckoo's Nest (1975),Drama
5,18,F,18,3,95825,1193,4,978156168,One Flew Over the Cuckoo's Nest (1975),Drama
6,19,M,1,10,48073,1193,5,982730936,One Flew Over the Cuckoo's Nest (1975),Drama
7,24,F,25,7,10023,1193,5,978136709,One Flew Over the Cuckoo's Nest (1975),Drama
8,28,F,25,1,14607,1193,3,978125194,One Flew Over the Cuckoo's Nest (1975),Drama
9,33,M,45,3,55421,1193,5,978557765,One Flew Over the Cuckoo's Nest (1975),Drama
10,39,M,18,4,61820,1193,5,978043535,One Flew Over the Cuckoo's Nest (1975),Drama
11,42,M,25,8,24502,1193,3,978038981,One Flew Over the Cuckoo's Nest (1975),Drama
12,44,M,45,17,98052,1193,4,978018995,One Flew Over the Cuckoo's Nest (1975),Drama
13,47,M,18,4,94305,1193,4,977978345,One Flew Over the Cuckoo's Nest (1975),Drama
14,48,M,25,4,92107,1193,4,977975061,One Flew Over the Cuckoo's Nest (1975),Drama
15,49,M,18,12,77084,1193,4,978813972,One Flew Over the Cuckoo's Nest (1975),Drama
16,53,M,25,0,96931,1193,5,977946400,One Flew Over the Cuckoo's Nest (1975),Drama
17,54,M,50,1,56723,1193,5,977944039,One Flew Over the Cuckoo's Nest (1975),Drama
18,58,M,25,2,30303,1193,5,977933866,One Flew Over the Cuckoo's Nest (1975),Drama
19,59,F,50,1,55413,1193,4,977934292,One Flew Over the Cuckoo's Nest (1975),Drama
20,62,F,35,3,98105,1193,4,977968584,One Flew Over the Cuckoo's Nest (1975),Drama
21,80,M,56,1,49327,1193,4,977786172,One Flew Over the Cuckoo's Nest (1975),Drama
22,81,F,25,0,60640,1193,5,977785864,One Flew Over the Cuckoo's Nest (1975),Drama
23,88,F,45,1,02476,1193,5,977694161,One Flew Over the Cuckoo's Nest (1975),Drama
24,89,F,56,9,85749,1193,5,977683596,One Flew Over the Cuckoo's Nest (1975),Drama
25,95,M,45,0,98201,1193,5,977626632,One Flew Over the Cuckoo's Nest (1975),Drama
26,96,F,25,16,78028,1193,3,977621789,One Flew Over the Cuckoo's Nest (1975),Drama
27,99,F,1,10,19390,1193,2,982791053,One Flew Over the Cuckoo's Nest (1975),Drama
28,102,M,35,19,20871,1193,5,1040737607,One Flew Over the Cuckoo's Nest (1975),Drama
29,104,M,25,12,00926,1193,2,977546620,One Flew Over the Cuckoo's Nest (1975),Drama
...,...,...,...,...,...,...,...,...,...,...
1000179,4933,M,25,15,94040,3084,3,962757020,Home Page (1999),Documentary
1000180,4802,M,56,1,40601,2218,2,1014866656,Juno and Paycock (1930),Drama
1000181,4812,M,18,14,25301,2308,2,962932391,Detroit 9000 (1973),Action|Crime
1000182,4874,F,25,4,70808,624,4,962781918,Condition Red (1995),Action|Drama|Thriller
1000183,5059,M,45,16,22652,1434,4,962484364,"Stranger, The (1994)",Action
1000184,5947,F,45,16,97215,1434,4,957190428,"Stranger, The (1994)",Action
1000185,5077,M,25,2,20037,1868,3,962417299,"Truce, The (1996)",Drama|War
1000186,5944,F,18,10,27606,1868,1,957197520,"Truce, The (1996)",Drama|War
1000187,5105,M,50,7,18977,404,3,962337582,Brother Minister: The Assassination of Malcolm...,Documentary
1000188,5185,F,35,4,44485,404,4,963402617,Brother Minister: The Assassination of Malcolm...,Documentary
1000189,5532,M,25,17,27408,404,5,959619841,Brother Minister: The Assassination of Malcolm...,Documentary
1000190,5543,M,25,17,97401,404,3,960127592,Brother Minister: The Assassination of Malcolm...,Documentary
1000191,5220,M,25,7,91436,2543,3,961546137,Six Ways to Sunday (1997),Comedy
1000192,5754,F,18,1,60640,2543,4,958272316,Six Ways to Sunday (1997),Comedy
1000193,5227,M,18,10,64050,591,3,961475931,Tough and Deadly (1995),Action|Drama|Thriller
1000194,5795,M,25,1,92688,591,1,958145253,Tough and Deadly (1995),Action|Drama|Thriller
1000195,5313,M,56,0,55406,3656,5,960920392,Lured (1947),Crime
1000196,5328,F,25,4,91740,2438,4,960838075,Outside Ozona (1998),Drama|Thriller
1000197,5334,F,56,13,46140,3323,3,960796159,Chain of Fools (2000),Comedy|Crime
1000198,5334,F,56,13,46140,127,1,960795494,"Silence of the Palace, The (Saimt el Qusur) (1...",Drama
1000199,5334,F,56,13,46140,3382,5,960796159,Song of Freedom (1936),Drama
1000200,5420,F,1,19,14850,1843,3,960156505,Slappy and the Stinkers (1998),Children's|Comedy
1000201,5433,F,35,17,45014,286,3,960240881,Nemesis 2: Nebula (1995),Action|Sci-Fi|Thriller
1000202,5494,F,35,17,94306,3530,4,959816296,Smoking/No Smoking (1993),Comedy
1000203,5556,M,45,6,92103,2198,3,959445515,Modulations (1998),Documentary
1000204,5949,M,18,17,47901,2198,5,958846401,Modulations (1998),Documentary
1000205,5675,M,35,14,30030,2703,3,976029116,Broken Vessels (1998),Drama
1000206,5780,M,18,17,92886,2845,1,958153068,White Boys (1999),Drama
1000207,5851,F,18,20,55410,3607,5,957756608,One Little Indian (1973),Comedy|Drama|Western
1000208,5938,M,25,1,35401,2909,4,957273353,"Five Wives, Three Secretaries and Me (1998)",Documentary

In [23]:
data.head(10)

,user_id,gender,age,occupation,zip,movie_id,rating,timestamp,title,genres
0,1,F,1,10,48067,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,M,56,16,70072,1193,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,M,25,12,32793,1193,4,978220179,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,M,25,7,22903,1193,4,978199279,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,M,50,1,95350,1193,5,978158471,One Flew Over the Cuckoo's Nest (1975),Drama
5,18,F,18,3,95825,1193,4,978156168,One Flew Over the Cuckoo's Nest (1975),Drama
6,19,M,1,10,48073,1193,5,982730936,One Flew Over the Cuckoo's Nest (1975),Drama
7,24,F,25,7,10023,1193,5,978136709,One Flew Over the Cuckoo's Nest (1975),Drama
8,28,F,25,1,14607,1193,3,978125194,One Flew Over the Cuckoo's Nest (1975),Drama
9,33,M,45,3,55421,1193,5,978557765,One Flew Over the Cuckoo's Nest (1975),Drama

In [26]:
#查看id = 1 用户的评分数据
data[data.user_id == 1]

,user_id,gender,age,occupation,zip,movie_id,rating,timestamp,title,genres
0,1,F,1,10,48067,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1725,1,F,1,10,48067,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical
2250,1,F,1,10,48067,914,3,978301968,My Fair Lady (1964),Musical|Romance
2886,1,F,1,10,48067,3408,4,978300275,Erin Brockovich (2000),Drama
4201,1,F,1,10,48067,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy
5904,1,F,1,10,48067,1197,3,978302268,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance
8222,1,F,1,10,48067,1287,5,978302039,Ben-Hur (1959),Action|Adventure|Drama
8926,1,F,1,10,48067,2804,5,978300719,"Christmas Story, A (1983)",Comedy|Drama
10278,1,F,1,10,48067,594,4,978302268,Snow White and the Seven Dwarfs (1937),Animation|Children's|Musical
11041,1,F,1,10,48067,919,4,978301368,"Wizard of Oz, The (1939)",Adventure|Children's|Drama|Musical
12759,1,F,1,10,48067,595,5,978824268,Beauty and the Beast (1991),Animation|Children's|Musical
13819,1,F,1,10,48067,938,4,978301752,Gigi (1958),Musical
14006,1,F,1,10,48067,2398,4,978302281,Miracle on 34th Street (1947),Drama
14386,1,F,1,10,48067,2918,4,978302124,Ferris Bueller's Day Off (1986),Comedy
15859,1,F,1,10,48067,1035,5,978301753,"Sound of Music, The (1965)",Musical
16741,1,F,1,10,48067,2791,4,978302188,Airplane! (1980),Comedy
18472,1,F,1,10,48067,2687,3,978824268,Tarzan (1999),Animation|Children's
18914,1,F,1,10,48067,2018,4,978301777,Bambi (1942),Animation|Children's
19503,1,F,1,10,48067,3105,5,978301713,Awakenings (1990),Drama
20183,1,F,1,10,48067,2797,4,978302039,Big (1988),Comedy|Fantasy
21674,1,F,1,10,48067,2321,3,978302205,Pleasantville (1998),Comedy
22832,1,F,1,10,48067,720,3,978300760,Wallace & Gromit: The Best of Aardman Animatio...,Animation
23270,1,F,1,10,48067,1270,5,978300055,Back to the Future (1985),Comedy|Sci-Fi
25853,1,F,1,10,48067,527,5,978824195,Schindler's List (1993),Drama|War
28157,1,F,1,10,48067,2340,3,978300103,Meet Joe Black (1998),Romance
28501,1,F,1,10,48067,48,5,978824351,Pocahontas (1995),Animation|Children's|Musical|Romance
28883,1,F,1,10,48067,1097,4,978301953,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
31152,1,F,1,10,48067,1721,4,978300055,Titanic (1997),Drama|Romance
32698,1,F,1,10,48067,1545,4,978824139,Ponette (1996),Drama
32771,1,F,1,10,48067,745,3,978824268,"Close Shave, A (1995)",Animation|Comedy|Thriller
33428,1,F,1,10,48067,2294,4,978824291,Antz (1998),Animation|Children's
34073,1,F,1,10,48067,3186,4,978300019,"Girl, Interrupted (1999)",Drama
34504,1,F,1,10,48067,1566,4,978824330,Hercules (1997),Adventure|Animation|Children's|Comedy|Musical
34973,1,F,1,10,48067,588,4,978824268,Aladdin (1992),Animation|Children's|Comedy|Musical
36324,1,F,1,10,48067,1907,4,978824330,Mulan (1998),Animation|Children's
36814,1,F,1,10,48067,783,4,978824291,"Hunchback of Notre Dame, The (1996)",Animation|Children's|Musical
37204,1,F,1,10,48067,1836,5,978300172,"Last Days of Disco, The (1998)",Drama
37339,1,F,1,10,48067,1022,5,978300055,Cinderella (1950),Animation|Children's|Musical
37916,1,F,1,10,48067,2762,4,978302091,"Sixth Sense, The (1999)",Thriller
40375,1,F,1,10,48067,150,5,978301777,Apollo 13 (1995),Drama
41626,1,F,1,10,48067,1,5,978824268,Toy Story (1995),Animation|Children's|Comedy
43703,1,F,1,10,48067,1961,5,978301590,Rain Man (1988),Drama
45033,1,F,1,10,48067,1962,4,978301753,Driving Miss Daisy (1989),Drama
45685,1,F,1,10,48067,2692,4,978301570,Run Lola Run (Lola rennt) (1998),Action|Crime|Romance
46757,1,F,1,10,48067,260,4,978300760,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi
49748,1,F,1,10,48067,1028,5,978301777,Mary Poppins (1964),Children's|Comedy|Musical
50759,1,F,1,10,48067,1029,5,978302205,Dumbo (1941),Animation|Children's|Musical
51327,1,F,1,10,48067,1207,4,978300719,To Kill a Mockingbird (1962),Drama
52255,1,F,1,10,48067,2028,5,978301619,Saving Private Ryan (1998),Action|Drama|War
54908,1,F,1,10,48067,531,4,978302149,"Secret Garden, The (1993)",Children's|Drama
55246,1,F,1,10,48067,3114,4,978302174,Toy Story 2 (1999),Animation|Children's|Comedy
56831,1,F,1,10,48067,608,4,978301398,Fargo (1996),Crime|Drama|Thriller
59344,1,F,1,10,48067,1246,4,978302091,Dead Poets Society (1989),Drama

In [29]:
#所有电影不同性别的评分   数据透视pivot_table
ratings_by_gender = data.pivot_table(values='rating',index='title',columns='gender',aggfunc='mean')

In [32]:
ratings_by_gender.head(10)

gender                                    F         M
title
$1,000,000 Duck (1971)             3.375000  2.761905
'Night Mother (1986)               3.388889  3.352941
'Til There Was You (1997)          2.675676  2.733333
'burbs, The (1989)                 2.793478  2.962085
...And Justice for All (1979)      3.828571  3.689024
1-900 (1994)                       2.000000  3.000000
10 Things I Hate About You (1999)  3.646552  3.311966
101 Dalmatians (1961)              3.791444  3.500000
101 Dalmatians (1996)              3.240000  2.911215
12 Angry Men (1957)                4.184397  4.328421

In [34]:
#求出男女评分差异最大的电影，评分相减      新加一个列 diff
ratings_by_gender['diff'] = ratings_by_gender.F - ratings_by_gender.M

In [35]:
ratings_by_gender.head(10)

gender                                    F         M      diff
title
$1,000,000 Duck (1971)             3.375000  2.761905  0.613095
'Night Mother (1986)               3.388889  3.352941  0.035948
'Til There Was You (1997)          2.675676  2.733333 -0.057658
'burbs, The (1989)                 2.793478  2.962085 -0.168607
...And Justice for All (1979)      3.828571  3.689024  0.139547
1-900 (1994)                       2.000000  3.000000 -1.000000
10 Things I Hate About You (1999)  3.646552  3.311966  0.334586
101 Dalmatians (1961)              3.791444  3.500000  0.291444
101 Dalmatians (1996)              3.240000  2.911215  0.328785
12 Angry Men (1957)                4.184397  4.328421 -0.144024

In [36]:
#对 diff 进行排序  升序
ratings_by_gender.sort_values(by='diff', ascending=True).head(10)

gender                                        F         M      diff
title
Tigrero: A Film That Was Never Made (1994)  1.0  4.333333 -3.333333
Neon Bible, The (1995)                      1.0  4.000000 -3.000000
Enfer, L' (1994)                            1.0  3.750000 -2.750000
Stalingrad (1993)                           1.0  3.593750 -2.593750
Killer: A Journal of Murder (1995)          1.0  3.428571 -2.428571
Dangerous Ground (1997)                     1.0  3.333333 -2.333333
In God's Hands (1998)                       1.0  3.333333 -2.333333
Rosie (1998)                                1.0  3.333333 -2.333333
Flying Saucer, The (1950)                   1.0  3.300000 -2.300000
Jamaica Inn (1939)                          1.0  3.142857 -2.142857

In [37]:
#降序  
ratings_by_gender.sort_values(by='diff', ascending=False).head(10)

#  男女之间的分歧

gender,F,M,diff
title,,,
"James Dean Story, The (1957)",4.000000,1.000000,3.000000
"Spiders, The (Die Spinnen, 1. Teil: Der Goldene See) (1919)",4.000000,1.000000,3.000000
Country Life (1994),5.000000,2.000000,3.000000
Babyfever (1994),3.666667,1.000000,2.666667
"Woman of Paris, A (1923)",5.000000,2.428571,2.571429
Cobra (1925),4.000000,1.500000,2.500000
"Other Side of Sunday, The (S鴑dagsengler) (1996)",5.000000,2.928571,2.071429
Theodore Rex (1995),3.000000,1.000000,2.000000
For the Moment (1994),5.000000,3.000000,2.000000
"Separation, The (La S閜aration) (1994)",4.000000,2.000000,2.000000

In [22]:
#title进行分组。 size 评分人数
ratings_by_title = data.groupby('title').size()

In [23]:
ratings_by_title.head(10)

title
$1,000,000 Duck (1971)                37
'Night Mother (1986)                  70
'Til There Was You (1997)             52
'burbs, The (1989)                   303
...And Justice for All (1979)        199
1-900 (1994)                           2
10 Things I Hate About You (1999)    700
101 Dalmatians (1961)                565
101 Dalmatians (1996)                364
12 Angry Men (1957)                  616
dtype: int64

In [24]:
#排序  倒序 
ratings_by_title.sort_values(ascending=False).head(10)

title
American Beauty (1999)                                   3428
Star Wars: Episode IV - A New Hope (1977)                2991
Star Wars: Episode V - The Empire Strikes Back (1980)    2990
Star Wars: Episode VI - Return of the Jedi (1983)        2883
Jurassic Park (1993)                                     2672
Saving Private Ryan (1998)                               2653
Terminator 2: Judgment Day (1991)                        2649
Matrix, The (1999)                                       2590
Back to the Future (1985)                                2583
Silence of the Lambs, The (1991)                         2578
dtype: int64

In [25]:

ratings_by_title.sort_values(ascending=True).head(10)

title
Another Man's Poison (1952)                                              1
Night Tide (1961)                                                        1
Shadows (Cienie) (1988)                                                  1
McCullochs, The (1975)                                                   1
Anna (1996)                                                              1
Target (1995)                                                            1
Even Dwarfs Started Small (Auch Zwerge haben klein angefangen) (1971)    1
Tashunga (1995)                                                          1
Waltzes from Vienna (1933)                                               1
Open Season (1996)                                                       1
dtype: int64

In [26]:
#每部电影的平均得分
mean_ratings = data.pivot_table(values='rating',index='title',aggfunc='mean')

In [27]:
mean_ratings.head(10)

title
$1,000,000 Duck (1971)               3.027027
'Night Mother (1986)                 3.371429
'Til There Was You (1997)            2.692308
'burbs, The (1989)                   2.910891
...And Justice for All (1979)        3.713568
1-900 (1994)                         2.500000
10 Things I Hate About You (1999)    3.422857
101 Dalmatians (1961)                3.596460
101 Dalmatians (1996)                3.046703
12 Angry Men (1957)                  4.295455
Name: rating, dtype: float64

In [28]:
#评分最低
mean_ratings.sort_values(ascending=True).head(10)

title
Elstree Calling (1930)                                        1.0
Get Over It (1996)                                            1.0
Venice/Venice (1992)                                          1.0
Windows (1980)                                                1.0
Kestrel's Eye (Falkens 鰃a) (1998)                             1.0
McCullochs, The (1975)                                        1.0
Sleepover (1995)                                              1.0
Torso (Corpi Presentano Tracce di Violenza Carnale) (1973)    1.0
Spring Fever USA (a.k.a. Lauderdale) (1989)                   1.0
Santa with Muscles (1996)                                     1.0
Name: rating, dtype: float64

In [29]:
#评分最高
mean_ratings.sort_values(ascending=False).head(10)

title
Gate of Heavenly Peace, The (1995)           5.0
Lured (1947)                                 5.0
Ulysses (Ulisse) (1954)                      5.0
Smashing Time (1967)                         5.0
Follow the Bitch (1998)                      5.0
Song of Freedom (1936)                       5.0
Bittersweet Motel (2000)                     5.0
Baby, The (1973)                             5.0
One Little Indian (1973)                     5.0
Schlafes Bruder (Brother of Sleep) (1995)    5.0
Name: rating, dtype: float64

In [30]:
#之前找的前十大热门电影 评分人数
top_hot_10 = ratings_by_title.sort_values(ascending=False).head(10)
top_hot_10

title
American Beauty (1999)                                   3428
Star Wars: Episode IV - A New Hope (1977)                2991
Star Wars: Episode V - The Empire Strikes Back (1980)    2990
Star Wars: Episode VI - Return of the Jedi (1983)        2883
Jurassic Park (1993)                                     2672
Saving Private Ryan (1998)                               2653
Terminator 2: Judgment Day (1991)                        2649
Matrix, The (1999)                                       2590
Back to the Future (1985)                                2583
Silence of the Lambs, The (1991)                         2578
dtype: int64

In [31]:
#平均的评分数据（前十大）
mean_ratings[top_hot_10.index]

title
American Beauty (1999)                                   4.317386
Star Wars: Episode IV - A New Hope (1977)                4.453694
Star Wars: Episode V - The Empire Strikes Back (1980)    4.292977
Star Wars: Episode VI - Return of the Jedi (1983)        4.022893
Jurassic Park (1993)                                     3.763847
Saving Private Ryan (1998)                               4.337354
Terminator 2: Judgment Day (1991)                        4.058513
Matrix, The (1999)                                       4.315830
Back to the Future (1985)                                3.990321
Silence of the Lambs, The (1991)                         4.351823
Name: rating, dtype: float64

In [32]:
#平均评分数据（前20大）
top_20_score = mean_ratings.sort_values(ascending=False).head(20)

In [33]:
top_20_score

title
Gate of Heavenly Peace, The (1995)                                     5.000000
Lured (1947)                                                           5.000000
Ulysses (Ulisse) (1954)                                                5.000000
Smashing Time (1967)                                                   5.000000
Follow the Bitch (1998)                                                5.000000
Song of Freedom (1936)                                                 5.000000
Bittersweet Motel (2000)                                               5.000000
Baby, The (1973)                                                       5.000000
One Little Indian (1973)                                               5.000000
Schlafes Bruder (Brother of Sleep) (1995)                              5.000000
I Am Cuba (Soy Cuba/Ya Kuba) (1964)                                    4.800000
Lamerica (1994)                                                        4.750000
Apple, The (Sib) (1998)                                                4.666667
Sanjuro (1962)                                                         4.608696
Seven Samurai (The Magnificent Seven) (Shichinin no samurai) (1954)    4.560510
Shawshank Redemption, The (1994)                                       4.554558
Godfather, The (1972)                                                  4.524966
Close Shave, A (1995)                                                  4.520548
Usual Suspects, The (1995)                                             4.517106
Schindler's List (1993)                                                4.510417
Name: rating, dtype: float64

In [34]:
#查看前20高分电影的 评分人数
ratings_by_title[top_20_score.index]

title
Gate of Heavenly Peace, The (1995)                                        3
Lured (1947)                                                              1
Ulysses (Ulisse) (1954)                                                   1
Smashing Time (1967)                                                      2
Follow the Bitch (1998)                                                   1
Song of Freedom (1936)                                                    1
Bittersweet Motel (2000)                                                  1
Baby, The (1973)                                                          1
One Little Indian (1973)                                                  1
Schlafes Bruder (Brother of Sleep) (1995)                                 1
I Am Cuba (Soy Cuba/Ya Kuba) (1964)                                       5
Lamerica (1994)                                                           8
Apple, The (Sib) (1998)                                                   9
Sanjuro (1962)                                                           69
Seven Samurai (The Magnificent Seven) (Shichinin no samurai) (1954)     628
Shawshank Redemption, The (1994)                                       2227
Godfather, The (1972)                                                  2223
Close Shave, A (1995)                                                   657
Usual Suspects, The (1995)                                             1783
Schindler's List (1993)                                                2304
dtype: int64

In [35]:
#找出热度高的，至少有1000人进行平分的电影
hot_movie = ratings_by_title[ratings_by_title>1000]

In [36]:
print(len(hot_movie))
hot_movie.head(20)

207

title
2001: A Space Odyssey (1968)                          1716
Abyss, The (1989)                                     1715
African Queen, The (1951)                             1057
Air Force One (1997)                                  1076
Airplane! (1980)                                      1731
Aladdin (1992)                                        1351
Alien (1979)                                          2024
Aliens (1986)                                         1820
Amadeus (1984)                                        1382
American Beauty (1999)                                3428
American Pie (1999)                                   1389
American President, The (1995)                        1033
Animal House (1978)                                   1207
Annie Hall (1977)                                     1334
Apocalypse Now (1979)                                 1176
Apollo 13 (1995)                                      1251
Arachnophobia (1990)                                  1367
Armageddon (1998)                                     1110
As Good As It Gets (1997)                             1424
Austin Powers: International Man of Mystery (1997)    1205
dtype: int64

In [37]:
#热门电影的评分数据
hot_move_rating = mean_ratings[hot_movie.index]

In [38]:
#前10大热门电影
hot_10_real=hot_move_rating.sort_values(ascending=False).head(10)