In [1]:
import pandas as pd
import numpy as np

In [2]:
from pandas import Series,DataFrame

In [3]:
ser = Series([1,2,3,4])

In [4]:
ser

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
ser.values

array([1, 2, 3, 4], dtype=int64)

In [6]:
ser.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
ser2 = Series([1,2,3,4],index=['a','b','c','d'])
ser2

a    1
b    2
c    3
d    4
dtype: int64

In [9]:
ser2[1]

2

In [12]:
ser2['a']

1

In [13]:
ser2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [15]:
data = {'package':['pandas','NumPy','matplotlib','pandas','pandas'],
       'id':[1,2,3,4,5],
       'num':[2.5,3.0,1.1,1.7,2.9]}

In [16]:
frame = pd.DataFrame(data)

In [17]:
frame

   id  num     package
0   1  2.5      pandas
1   2  3.0       NumPy
2   3  1.1  matplotlib
3   4  1.7      pandas
4   5  2.9      pandas

In [18]:
import requests

In [19]:
url = 'http://api.geonames.org/citiesJSON?north=44.1&south=-9.9&east=-22.4&west=55.2&lang=de&username=demo'

In [20]:
resp = requests.get(url)

In [21]:
 resp