In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
s = pd.Series(np.random.rand(5),index=list('abcde'))

In [6]:
s

a    0.347295
b    0.077010
c    0.251702
d    0.838454
e    0.235282
dtype: float64

In [8]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [9]:
s.index.name = 'alpha'

In [11]:
s

alpha
a    0.347295
b    0.077010
c    0.251702
d    0.838454
e    0.235282
dtype: float64

In [13]:
d = pd.Series(np.arange(8), index= list('abcdedae'))

In [14]:
d

a    0
b    1
c    2
d    3
e    4
d    5
a    6
e    7
dtype: int32

In [15]:
d['a']

a    0
a    6
dtype: int32

In [16]:
d.index.is_unique

False

In [22]:
d.index.unique()

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [23]:
d.groupby(d.index).sum()

a     6
b     1
c     2
d     8
e    11
dtype: int32

In [24]:
d.groupby(d.index).first()

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [25]:
d.groupby(d.index).mean()

a    3.0
b    1.0
c    2.0
d    4.0
e    5.5
dtype: float64

In [26]:
a=[['a','a','a','b','b','c','c'],[1,2,3,1,2,3]]
t=list(zip(*a))

In [27]:
t

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('c', 3)]

In [28]:
index = pd.MultiIndex.from_tuples(t, names=['level1','level2'])

In [29]:
index

MultiIndex(levels=[['a', 'b', 'c'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 2], [0, 1, 2, 0, 1, 2]],
           names=['level1', 'level2'])

In [31]:
s = pd.Series(np.random.rand(6),index=index)

In [32]:
s

level1  level2
a       1         0.103648
        2         0.689704
        3         0.375569
b       1         0.003933
        2         0.634499
c       3         0.403540
dtype: float64

In [34]:
s['b']

level2
1    0.003933
2    0.634499
dtype: float64

In [35]:
s['b':'c']

level1  level2
b       1         0.003933
        2         0.634499
c       3         0.403540
dtype: float64

In [36]:
df = pd.DataFrame({
        'a':range(7),
        'b':range(7,0,-1),
        'c':['one','one','one','two','two','two','two'],
        'd':[0,1,2,0,1,2,3]
    })
df

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [37]:
df.set_index('c')

     a  b  d
c
one  0  7  0
one  1  6  1
one  2  5  2
two  3  4  0
two  4  3  1
two  5  2  2
two  6  1  3

In [38]:
df.set_index(['c','d'])

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [39]:
df2 = df.set_index(['c','d'])

In [41]:
df2.reset_index()

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1

In [42]:
df2.reset_index().sort_index('columns')

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [43]:
df2.reset_index().sort_index('columns') == df

      a     b     c     d
0  True  True  True  True
1  True  True  True  True
2  True  True  True  True
3  True  True  True  True
4  True  True  True  True
5  True  True  True  True
6  True  True  True  True