In [2]:
%matplotlib inline
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dates = pd.date_range('20120301',periods=6)
df=pd.DataFrame(np.random.rand(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2012-03-01  0.487818  0.567962  0.258825  0.099076
2012-03-02  0.943215  0.301957  0.947733  0.794617
2012-03-03  0.837243  0.952549  0.641958  0.478233
2012-03-04  0.196540  0.897020  0.760969  0.607327
2012-03-05  0.186922  0.797985  0.088732  0.166751
2012-03-06  0.626381  0.703757  0.136357  0.925089

In [4]:
s = pd.Series([1,3,5,np.nan,6,8],index=dates)
s

2012-03-01    1.0
2012-03-02    3.0
2012-03-03    5.0
2012-03-04    NaN
2012-03-05    6.0
2012-03-06    8.0
Freq: D, dtype: float64

In [5]:
s1 = pd.Series([1,3,5,np.nan,6,8],index=dates).shift(3)
s1 #依次向下填NaN

2012-03-01    NaN
2012-03-02    NaN
2012-03-03    NaN
2012-03-04    1.0
2012-03-05    3.0
2012-03-06    5.0
Freq: D, dtype: float64

In [7]:
df1 = df.shift(3)
df1

                   A         B         C         D
2012-03-01       NaN       NaN       NaN       NaN
2012-03-02       NaN       NaN       NaN       NaN
2012-03-03       NaN       NaN       NaN       NaN
2012-03-04  0.487818  0.567962  0.258825  0.099076
2012-03-05  0.943215  0.301957  0.947733  0.794617
2012-03-06  0.837243  0.952549  0.641958  0.478233